@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0
}
body {
	font-family: "Roboto Condensed", "Helvetica", ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
	font-size: 15px;
	line-height: 1.0em;
	color: #333
}
img {
	vertical-align: bottom
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
a {
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
input, select {
	vertical-align: middle
}
body {
	-webkit-text-size-adjust: none
}
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0.2)
}
img {
	max-width: 100%;
	height: auto
}
.pc {
	display: none
}
article.wrap {
	border-top: solid 3px #e87f17;
}
header {
	overflow: hidden;
	width: 100%;
	padding: 0 0 17px 0;
  background-color:#fff;
}
header h1 {
	width: 55%;
	float: left;
	font-size: 17px;
	line-height: 18px;
	margin: 0;
	color: #786a5b;
}
header .headlogo {
	width: 37%;
	float: right;
	padding: 5px 7px 0 0
}
header .headlogo img {
	float: right;
	width: 100%;
	max-width: 240px;
	height: auto
}
.pc_hidden {
	display: none !important
}
div {
	box-sizing: border-box
}
h2, h3 {
	line-height: 1.3
}
/*------------------------------------------------------
本LP固有 かつ 共通CSS
------------------------------------------------------*/
#sample_kyujin, .cta_area--green_bg, .flow_wrap, .case_wrap {
	background-color:#f4f3ef;
	padding: 30px 0px 15px
}
.pc_wrap, footer .inner, header {
	overflow: hidden;
	width: 1150px;
	margin: 0 auto;
	padding: 10px 50px;
	box-sizing: border-box
}
.pc_wrap--hosoku {
	padding: 0px 50px
}
.pc_bg_green {
	background-color: #f4f3ef;
	padding: 15px 0px
}
.pc_bg_gray {
	background: #f0f6ef
}
/*------------------------------------------------------
mv area
------------------------------------------------------*/
#mv {
	float: right;
	display: inline-block;
	width: 570px;
  padding-bottom: 80px;
}
.mv_all_wrap {/* IE */
	background: url(../../../images/029/mv_bg_pc.png) repeat-x, -ms-linear-gradient(top, #feedda 22%, #fff 60%, #fff 100%) 0 293px no-repeat;
	background: url(../../../images/029/mv_bg_pc.png) repeat-x, -moz-linear-gradient(top, #feedda 22%, #fff 60%, #fff 100%) 0 293px no-repeat;
	background: url(../../../images/029/mv_bg_pc.png) repeat-x, -o-linear-gradient(top, #feedda 22%, #fff 60%, #fff 100%) 0 293px no-repeat;
	background: url(../../../images/029/mv_bg_pc.png) repeat-x, -webkit-linear-gradient(top, #feedda 22%, #fff 60%, #fff 100%) 0 293px no-repeat; /* W3C */
	background: url(../../../images/029/mv_bg_pc.png) repeat-x, linear-gradient(top, #feedda 22%, #fff 60%, #fff 100%) 0 293px no-repeat;
	background-size: 100% 293px;
	padding: 15px 0px
}
.form_wrap_pc {
	overflow: hidden;
	width: 1150px;
	margin: 0 auto;
	padding: 0px 50px;
	box-sizing: border-box
}
.form_wrap_pc:after {
	content: "";
	display: block;
	clear: both
}
#formArea {
	display: inline-block
}
/*------------------------------------------------------
sample kyujin area
------------------------------------------------------*/
#sample_kyujin{
  margin-top: -80px;
  transition: all .8s;
}
#sample_kyujin h2 {
	text-align: center;
	color: #e87f17;
	font-weight: bold;
	font-size: 180%
}
#sample_kyujin ul.owl-carousel li {
	background: #fff;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 3px 0px rgba(0,0,0,.1)
}
#sample_kyujin #sample_kyujin_list {
	margin-top: 15px
}
#sample_kyujin ul.owl-carousel li span.tag_gyousyu {
	background: #e87f17;
	padding: 3px 5px;
	border-radius: 2px;
	color: #fff;
	font-size: 85%;
  letter-spacing:-1px;
}
#sample_kyujin ul.owl-carousel li span.tag_koyou {
	background: #efefef;
	padding: 3px 5px;
	border-radius: 2px;
	color: #7a7a7a;
	font-size: 85%
}
#sample_kyujin ul.owl-carousel li .img_wrap {
	margin: 10px 0px
}
#sample_kyujin ul.owl-carousel li .img_wrap img {
	width: 100%
}
#sample_kyujin ul.owl-carousel li .text_area .detail {
	font-size: 85%;
	color: #777;
	line-height: 1.2;
	margin: 10px 0px
}
#sample_kyujin ul.owl-carousel li .text_area .catch {
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 5px;
	font-size: 110%;
}
#sample_kyujin ul.owl-carousel li .text_area .salary {
	background: #f9f9f9;
	padding: 10px;
	font-weight: bold;
	margin-top: 5px;
	text-align: center;
	position: relative
}
#sample_kyujin ul.owl-carousel li .text_area .salary span {
	color: #b30000;
	font-size: 120%
}
#sample_kyujin p.hosoku {
	font-size: 80%;
	display: block;
	padding: 0px 10px;
	text-align: center
}
/*------------------------------------------------------
reason area
------------------------------------------------------*/
#reason h2, #case h2, #user_voice h2, #flow h2 {
	color: #fff;
	font-size: 160%;
	text-align: center;
}
#reason h2 span {
	color: #ffe88b;
	font-size: 120%;
}
#reason h2 br {
	display: none
}
.h2_sp {
	display: none
}
#reason h2.h2_pc {
	background: transparent;
	font-size: 180%;
	padding: 50px 0px 40px
}
.reason_wrap {
	background: -moz-linear-gradient(top, #e87f17 0%, #f9aa41 100%);
	background: -webkit-linear-gradient(top, #e87f17 0%, #f9aa41 100%);
	background: linear-gradient(to bottom, #e87f17 0%, #f9aa41 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e87f17', endColorstr='#f9aa41', GradientType=0 )
}
 @keyframes animation_003 {
0% {
background-position:0% 48%
}
 50% {
background-position:100% 53%
}
 100% {
background-position:0% 48%
}
}
.reason_menu {
	display: table;
	width: 100%;
	margin: 25px 0px;
	border-spacing: 10px 0
}
.reason_menu_item {
	background: #fff;
	font-size: 11pt;
	font-weight: bold;
	margin: 0px;
	cursor: pointer;
	width: 33.3333%;
	display: table-cell;
	color: #333;
	position: relative;
	border-radius: 5px;
	transition: .8s
}
.reason_menu_item:hover {
	text-decoration: none;
	opacity: 0.8
}
.reason_menu_item .img_wrap {
	width: 100%;
	padding: 20px 20px 0px;
	text-align: center
}
.reason_menu_item .img_wrap img {
	width: 50%
}
.reason_menu_item .txt_wrap {
	line-height: 1.3;
	padding: 25px;
	text-align: center
}
.reason_menu_item .txt_wrap span {
	display: block
}
.reason_menu_item .txt_wrap span br {
	display: none
}
.reason_menu_item .txt_wrap strong {
	font-size: 150%
}
.reason_menu_item img.rotate {
	transform: rotate(90deg)
}
.reason_menu_item span.arrow {
	min-height: 30px;
	max-height: 30px;
	width: 100%;
	display: block;
	position: relative
}
.reason_menu_item span.arrow:after {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	border: 0px;
	border-bottom: solid 2px #e87f17;
	border-right: solid 2px #e87f17;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: 50px;
	left: 50%;
	top: 0%
}
.reason_menu_item span.arrow.rotate:after {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border: 0px;
	border-bottom: solid 3px #e87f17;
	border-right: solid 3px #e87f17;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: 8px;
	top: 50%
}
.reason_cont_h3 {
	display: table;
	width: 100%;
	margin-bottom: 25px
}
.reason_cont_h3 .img_wrap {
	display: table-cell;
	width: 25%
}
.reason_cont_h3 .img_wrap img {
	width: 100%
}
.reason_cont_h3 span {
	display: table-cell;
	width: 75%;
	padding-left: 15px;
	font-size: 130%;
	font-weight: bold;
	margin: 60px 0px 50px;
	color: #333;
	vertical-align: middle;
	text-align: left;
	letter-spacing: 2px
}
.reason_cont_h3 span:first-letter {
	font-size: 180%
}
.reason_cont_inner {
	display: table;
	width: 100%;
	border-bottom: 1px solid #eee;
	margin-top: 40px
}
.reason_cont_inner:first-child {
	margin-top: 0
}
.reason_cont_inner:last-child {
	border-bottom: 0
}
.reason_cont_wrap_left {
	display: table-cell;
	width: 55%;
	vertical-align: top
}
.reason_cont_wrap p {
	line-height: 1.8;
	margin-bottom: 20px;
	font-size: 15px;
	color: #666
}
.reason_cont_wrap {
	margin-bottom: 50px
}
.reason_cont_wrap strong{
    color: #e87f17;
    font-size: 130%;
}
.sub_menu_cont_img_wrap {
	display: table-cell;
	width: 45%;
	padding-left: 30px;
	vertical-align: middle
}
.sub_menu_cont_img_wrap img {
	width: 100%
}
.pc_wrap_cont_wrap {
	background: #fff;
	padding: 50px 75px;
	margin-bottom: 30px;
	box-shadow: 3px 3px 0px rgba(0,0,0,.1);
	border-radius: 8px
}
/*------------------------------------------------------
uservoice area
------------------------------------------------------*/
#user_voice h2.h2_pc {
	background: transparent;
	font-size: 180%;
	color: #e87f17;
	padding: 40px 0px 0px;
	text-shadow:
    white 2px 0px,  white -2px 0px,
    white 0px -2px, white 0px 2px,
    white 2px 2px , white -2px 2px,
    white 2px -2px, white -2px -2px,
    white 1px 2px,  white -1px 2px,
    white 1px -2px, white -1px -2px,
    white 2px 1px,  white -2px 1px,
    white 2px -1px, white -2px -1px;
}
#user_voice .item {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 3px 0px rgba(0,0,0,.1);
	border: 2px solid #eee
}
#user_voice .main_menu_voice {
	font-weight: bold;
	padding: 20px;
	margin: 0px;
	cursor: pointer;
	display: table;
	position: relative
}
.user_voice_wrap {
	background-image: url("../../../images/029/user_voice_bg.png");
	background-size: cover;
	position: relative
}
.user_voice_wrap .owl-item {
	opacity: 0.8
}
.main_menu_voice .img_wrap {
	display: table-cell;
	width: 20%;
	padding-right: 10px
}
.main_menu_voice .img_wrap img {
	width: 100%
}
.main_menu_voice .ttl_wrap {
	display: table-cell;
	width: 80%;
	vertical-align: top;
	padding-right: 15px
}
.main_menu_voice .ttl_wrap .voice_ttl {
	line-height: 1.3;
	display: block;
	margin-bottom: 5px
}
.main_menu_voice .ttl_wrap .voice_dtl {
	line-height: 1.3;
	display: block;
	font-weight: normal;
	font-size: 90%;
	color: #666
}
span.marker {
	font-weight: bold;
	background: #fff89b
}
.sub_menu_voice {
	font-size: 14px;
	line-height: 1.5;
	padding: 20px
}
.sub_menu_voice span.marker {
	background: none;
	color: #e87f17;
}
.sub_menu_voice p {
	text-indent: 1em;
	margin-bottom: 10px
}
.sub_menu_voice p:last-child {
	margin-bottom: 0px
}
.owl-carousel--voice {
	margin: 30px 0px 0px
}
/*------------------------------------------------------
flow area
------------------------------------------------------*/
.flow_wrap {
	padding: 0
}
.flow_wrap .pc_wrap {
	padding-bottom: 50px
}
#flow h2.h2_pc {
	background: transparent;
	font-size: 180%;
	color: #e87f17;
	padding: 40px 0px 0px;
    padding: 40px 0px 80px;
}
#step{
	padding: 100px 0px 0px;
}
.cont_base {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-top: 3px solid #2aa765;
    padding: 30px;
}
.step-list{
	text-align:center;
}
.step-list li {
	letter-spacing: .03em;
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-left: 39px;
	margin-bottom: 50px;
	padding-bottom: 30px;
	background: #fff;
	position: relative;
	min-height: 280px;
}
.step-list li:nth-child(4),.step-list li:nth-child(5),.step-list li:nth-child(6){
	margin-bottom:0;
}
.step-list li .number {
	position: absolute;
	top: 0;
	left: 50%;
	width: 77px;
	height: 77px;
	margin-top: -38px;
	margin-left: -38px;
	background: #e87f17;
	color: #FFF;
	border-radius: 77px;
	text-align: center;
	vertical-align: middle;
	padding:20px;
	line-height:1;
	box-sizing: border-box;
}
.step-list li .number .large{
	font-size:150%;
    display: block;
    margin-top: 3px;
}

.step-list li::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 2px #e87f17;
  border-right: solid 2px #e87f17;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -25px;
  top: 50%;
}
.step-list li:nth-child(3)::after,
.step-list li:nth-child(6)::after {
	display: none;
}
.step-list li h3 {
	color: #e87f17;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
	height: 65px;
	position: relative;
}
.step-list li h3 span {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.step-list li p {
	font-size: 12px;
	line-height: 17px;
	letter-spacing: .05em;
	padding: 0 16px;
	color: #555;
    text-align: left;
}

/*------------------------------------------------------
footer other info
------------------------------------------------------*/
#other_info {
	background-color: #615140;
	color: #fff
}
#other_info .telBox {
	overflow: hidden;
	width: 1150px;
	margin: 0 auto;
	padding: 10px 50px
}
#other_info .telBox .info1 {
	overflow: hidden;
	margin: 0 0 20px 0;
	background-color: #f4f3ef;
	color: #615140;
	border-radius: 5px;
	padding: 10px
}
#other_info .telBox .info1 .ttl {
	text-align: center
}
#other_info .telBox .info1 .ttl .telTtl {
	margin: 0 0 5px 0;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 100px;
	line-height: 1;
	background-color: #615140;
	color: #fff;
	text-align: center
}
#other_info .telBox .info1 .ttl .free {
	margin: 0 0 0 10px;
	font-size: 12px;
	text-align: center
	color: #615140;
}
#other_info .telBox .info1 li {
	width: 32%;
	float: left;
	padding-left: 5px;
    margin-top: 5px;
}
#other_info .telBox .info1 li#telPC {
	width: 20% !important;
	margin-left: 10px;
	padding: 7px 8px;
}
#other_info .telBox .info1 li#telSP {
	padding: 10px 0;
	text-align: center
}
#other_info .telBox .info1 li#telSP a {
	background-color: #fff;
	display: block;
	border-radius: 8px;
	padding: 10px
}
#other_info .telBox .info1 li#telSP {
	display: none
}
#other_info .telBox .info1 li.txt {
	font-size: 12px;
	line-height: 1.5em;
	text-align: left;
	display: inline-block;
	padding-left: 15px;
	color: #615140;
}
#other_info .telBox .box01 {
	overflow: hidden;
	border-radius: 5px;
	width: 31.3333%;
	float: left
}
#other_info .telBox .box01, #other_info .telBox .box02 {
	margin-right: 2%
}
#other_info .telBox .box01 figure, #other_info .telBox .box02 figure {
	float: left;
	margin: 0 5px 0 0;
	padding: 0
}
#other_info .telBox .box01 .txtbox {
	float: left;
	width: 80%
}
#other_info .telBox .box01 .txtbox h2, #other_info .telBox .box02 .txtbox h2 {
	margin: 0 0 3px 0;
	font-size: 12px;
	font-weight: bold;
	display: block;
	text-align: left;
}
#other_info .telBox .txtbox p {
	font-size: 80%;
	line-height: 1.3
}
#page-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 77%;
	z-index: 10000
}
#page-top a {
	display: block;
	text-indent: -9999px;
	width: 60px;
	height: 60px;
	background: rgba(232,127,23,0.9);
	border-radius: 4px;
	position: relative
}
#page-top a:before {
	content: '';
	width: 0;
	height: 0;
	border: solid 9px transparent;
	border-bottom: solid 15px #fff;
	position: absolute;
	top: 25%;
	right: 35%
}
#page-top a:hover {
	text-decoration: none;
	opacity: 0.7
}
footer {
	width: 100%;
}
footer p {
  display: block;
  font-size: 11px;
  margin-bottom: 2px;
}
footer .inner {
  overflow: hidden;
  width: 1150px;
  margin: 0 auto;
  padding: 10px 50px;
  box-sizing: border-box;
}
footer #company_txt {
    font-size: 11px;
    overflow: hidden;
    padding-top: 8px;
}
footer .txt_inner {
    float: left;
    width: 560px;
    text-align: left;
}
footer .footer_right {
  text-align: right;
    width: 188px;
    float: right;
    margin-top: 10px;
}
footer .footer_link {
  padding: 4px 0px 3px 15px;
}
footer .footer_link a{
    color: #666!important;
    text-decoration: none!important;
    position: relative;
    top: 0;
    left: 0;
}
footer .footer_link a:before{
    content: '';
    width: 11px;
    height: 11px;
    background: url(../../../images/029/new_window.png)no-repeat;
    background-size: cover;
    position: absolute;
    top: 2px;
    left: -15px;
}
footer .footer_link a:first-child{
    margin-right: 25px;
}
#cm {
	padding: 40px 0px;
	color: #fff;
	background: url(../../../images/029/mv_bg_pc_nograd.png) repeat-x
}
.cm_txt {
	float: left;
	margin-right: 20px;
	text-align: center;
	line-height: 1.8;
	vertical-align: middle;
	width: 40%
}
.cm_txt h3 {
	font-size: 40px;
	margin-bottom: 30px
}
.cm_txt h3 span {
	display: inline-block;
	position: relative
}
.cm_txt h3 span:after {
	position: absolute;
	bottom: 0;
	width: 80%;
	border-bottom: 2px solid #fff
}
.cm_txt p {
	text-align: left
}
.cm_txt p.lead {
	margin: 35px 0px;
	font-size: 130%
}
.cm_movie {
	text-align: center;
	width: 60%;
	display: inline
}
.cm_movie iframe {
	width: 560px;
	height: 315px;
}
#anchor-register .formttl {
	background: #f8852b;
	padding: 10px 0px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 110%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px
}
#popup_header .formTtl {
	display: none
}
.formttl_label {
	padding: 2px 5px;
	background: #fff;
	color: #f8852b;
	border-radius: 3px
}
#popup_entry_form {
	border: 2px solid #000;
	box-sizing: border-box;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	background: #fff
}
#popup_btn_next img {
	animation: animScale 3s infinite ease-out;
	transform-origin: 50% 50%;
	animation-play-state: running
}
@keyframes animScale {
0% {
transform:scale(1, 1)
}
60% {
transform:scale(1.1, 1.1)
}
100% {
transform:scale(1, 1)
}
}
.cta_area a, .cta_area a::before, .cta_area a::after, .cta_area .sub_txt, .follow_btn .btn_sp a, .follow_btn .btn_sp a::before, .follow_btn .btn_sp a::after, .follow_btn .sub_txt {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s
}
.cta_area {
	width: 100%;
	box-sizing: border-box;
	padding: 15px 15px 25px
}
.cta_area .pc_wrap {
	text-align: center
}
.cta_area a {
	background: #049e11;
	padding: 25px;
	display: inline-block;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 110%;
	width: 70%;
	box-sizing: border-box;
	line-height: 1.3;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 4px 0px rgba(0,0,0,.3)
}
.cta_area a:hover {
	text-decoration: none;
  opacity: 1;
	background: #38b92e;
}
.cta_area a:after {
	content: '';
	width: 0;
	height: 0;
	border: solid 7px transparent;
	border-left: solid 9px #fff;
	position: absolute;
	top: 45%;
	right: 5px;
	margin-top: -3px
}
.cta_area a span.sub_txt {
	background: #fff;
	color: #049e11;
	padding: 5px;
	border-radius: 3px;
	display: table-cell;
	width: 20%;
	font-size: 120%;
	text-align: center
}
.cta_area a:hover span.sub_txt {
	color: #38b92e;
}
.cta_area a span.main_txt {
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
	font-size: 150%
}
.cta_area a span.main_txt br, .cta_area a span.sub_txt br {
	display: none
}

@media screen and (max-width:320px) {
.cta_area a span.sub_txt, .cta_area a span.main_txt {
	font-size: 120%
}
}
.cta_area a:before {
	content: "";
	background-image: -webkit-linear-gradient( 130deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 80% );
	background-image: linear-gradient( 130deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 80% );
	width: 200%;
	height: 200%;
	position: absolute;
	top: -100%;
	left: -200%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s
}
.cta_area a:hover:before {
	top: 0%;
	left: 100%
}
.case_wrap .cta_area, .user_voice_wrap .cta_area {
	text-align: center;
	padding: 15px 0px 25px
}
.follow_btn {
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.70);
	text-align: center;
	vertical-align: middle;
	z-index: 10000;
	padding: 5px 20px;
	box-sizing: border-box
}
.follow_btn .btn_sp {
	text-align: center;
	padding: 0px;
	display: inline-block
}
.follow_btn .btn_sp a {
	background: #049e11;
	padding: 20px 100px;
	display: table;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 120%;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.3;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 4px 0px rgba(0,0,0,.3)
}
.follow_btn .btn_sp a:hover {
	text-decoration: none;
  opacity: 1;
	background: #38b92e
}
.follow_btn .btn_sp a:after {
	content: '';
	width: 0;
	height: 0;
	border: solid 7px transparent;
	border-left: solid 10px #fff;
	position: absolute;
	top: 45%;
	right: 5px;
	margin-top: -3px
}
.follow_btn .main_txt {
	font-size: 120%
}
.follow_btn .sub_txt {
	background: #fff;
	padding: 5px 10px;
	margin-right: 10px;
	border-radius: 3px;
	color: #049e11;
	font-size: 90%
}
.follow_btn:hover .sub_txt {
	color: #38b92e;
}
.follow_btn .btn_sp a:before {
	content: "";
	background-image: -webkit-linear-gradient( 130deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 80% );
	background-image: linear-gradient( 130deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 80% );
	width: 200%;
	height: 200%;
	position: absolute;
	top: -100%;
	left: -200%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s
}
.follow_btn .btn_sp a:hover:before {
	top: 0%;
	left: 100%
}



.l-wrapper{
  background-color: #fff;
  border-top: solid 3px #e87f17;
}
.application_head{
  background: #3f3f3f;
  border-bottom: none;
}
.application_body{
  border: #3f3f3f 1px solid;
  border-top: none;
}
.application_headTit{
  color: #fff;
  font-size: 1.8rem;
}
.application_headCount{
  color: #fff;
}
.application{
  width: 470px;
  box-shadow:none;
}
.input-checkbox input[type=checkbox]:checked+.input-checkboxInner{
  background-color: #e87f17;
  color: #fff;
}
.application .u-ta-left.u-color-red-d.u-fw-b.u-fz-xs-13rem{
  line-height: 2;
}
.applicationForm{
  width: 470px;
  padding-right: 0;
  padding-left: 0;
}
.bnrArea{
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}
.btn-orange{
  background-color: #049e11;
}
.btn-orange:hover{
  background-color: #38b92e;
}
