.pc {
	display: block;
}
.sp {
	display: none;
}
@media only screen and (max-width: 639px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
}
a:hover {
	text-decoration: none;
}
/* .l-wrapper {
	padding-top: 54px;
	border-top: 0;
	background: none;
} */
header {
	padding: 0;
}
/* .jobsearch_link {
	margin: 40px 0 30px;
	text-align: center;
	text-decoration: underline;
} */
body {
	padding: 0;
	margin: 0 auto;
	background: #ffffff;
}
section {
	margin: 0;
	padding: 0;
}
h2 {
	text-align: center;
	font-size: 28px;
}
h2 .service-name {
	margin-right: 6px;
	bottom: 2px;
	position: relative;
}
h2 span {
	font-size: 90%;
}
.highlighter {
	position: relative;
	bottom: 2px;
	color: #00a4cd;
	background: linear-gradient(#fff0 50%, #fff0 60%, #fff280 60%);
}

.btn:before {
	display: none;
}
@keyframes button-anime {
	0% {
		left: -100%;
	}
	40% {
		left: 100%;
	}
	41% {
		visibility: hidden;
	}
	100% {
		visibility: hidden;
	}
}

/*---------------------------- CTA ----------------------------*/
.btn_job_entry {
	height: 56px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100px;
	text-align: center;
	width: 87%;
	font-size: 20px;
	box-sizing: border-box;
	margin-bottom: 14px;
	position: relative;
}
.btn_job_entry a {
	display: block;
	position: relative;
	z-index: 2;
	overflow: hidden;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	padding: 12px 0 12px 36px;
	font-size: 16px;
	width: 100%;
	background-color: #051a2b;
	border-radius: 300px;
	overflow: revert;
}
.btn_job_entry a::after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	width: 0;
	height: 0;
	margin-top: -5px;
	border: 5px solid transparent;
	border-left: 5px solid #fff;
}
.btn_job_entry:hover {
	transition-duration: 0.3s;
	opacity: 0.7;
	transition-delay: 0.6s;
}

.btn-entry {
	position: relative;
	display: inline-block;
	margin: 0px auto;
	width: 100%;
	max-width: 558px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 0.06em;
	border-radius: 300px;
	background: #051a2b;
	font-size: 13px;
}

.btn-entry span {
	padding: 6px 10px;
	border-radius: 30px;
	background: #e21c1c;
	margin-right: 4px;
}

.register a {
	position: relative;
}
.register p {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	box-sizing: border-box;
	padding: 0.8em 0.2em 0.8em 3em;
	background-color: #051a2b;
	border-radius: 30px;
}
.register .btn {
	position: relative;
	background: none;
	box-shadow: none;
	color: white;
	padding: unset;
	line-height: unset;
	padding: unset;
}
.register .btn::after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	/* background-color: #051a2b; */
	transition: all 0.3s ease-out;
	border-radius: 100px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	/* z-index: 0; */
}
.register .free {
	font-weight: bold;
	font-size: 18px;
	background-color: #e21c1c;
	border-radius: 521px;
	transform: rotate(340deg);
	position: absolute;
	top: -29px;
	left: 17px;
	color: white;
	z-index: 1;
	line-height: 1;
	padding: 18px;
}

/*---------------------------- update ---------------------------*/
.l-header {
	display: none;
}
.l-wrapper {
	padding-top: 0;
}
.l-gNav {
	display: none;
}

/* ---------------------------
header
--------------------------- */

.header {
	height: auto;
	/* padding: 0 0 -7px; */
	padding: 10px 0;
}

.header-inner {
	max-width: 980px;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headlogo {
	display: block;
	width: 100%;
	max-width: 211px;
}

.headlogo img {
	display: block;
	width: 100%;
}

.header .btn-entry {
	padding: 12px 15px;
}

@media only screen and (max-width: 767px) {
	.header {
		padding: 3%;
	}

	.headlogo {
		width: 50%;
		margin: 0px auto;
	}

	.header .btn-entry {
		display: none;
	}

	.header-inner {
		display: block;
	}
}

/* main
---------------------------------------------------------------------------- */
#sineCanvas {
	transform: rotateX(180deg);
	position: absolute;
	left: 0;
	width: 100%;
}

.main {
	height: 531px;
	position: relative;
}
.main::before {
	content: '';
	position: absolute;
	right: 50%;
	left: 51%;
	bottom: 51px;
	width: 390px;
	height: 390px;
	border-radius: 400px;
	background: #fff2c0;
}
.main .main-inner {
	position: relative;
	margin: 0 auto;
	padding-top: 83px;
	height: 266px;
	z-index: 1;
	color: #ffffff;
	box-sizing: border-box;
	background: #ffdc4c;
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.mv-title {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 305px;
	position: relative;
	padding-right: 51px;
	top: 20px;
}

.header-image-inner {
	height: 166px;
	position: relative;
}

.header-day01 {
	z-index: 5;
	right: -292px;
	height: 170px;
	background-repeat: no-repeat;
	background-image: url(/assets/images/support/special/facilitytype/img_header_01.png);
	width: 170px;
	position: relative;
	bottom: -176px;
}
.header-day02 {
	position: relative;
	width: 343px;
	height: 354px;
	z-index: 4;
	background-image: url(/assets/images/support/special/facilitytype/img_header_02.png);
	background-repeat: no-repeat;
	left: 24px;
	bottom: 168px;
}
.header-day03 {
	position: absolute;
	top: -68px;
	right: -189px;
	z-index: 3;
	bottom: 20px;
	width: 269px;
	height: 286px;
	background-image: url(/assets/images/support/special/facilitytype/img_header_03.png);
}
.header-day04 {
	z-index: 3;
	top: -53px;
	left: -10px;
	width: 185px;
	height: 170px;
	background: url(/assets/images/support/special/facilitytype/img_header_04.png) no-repeat;
	position: absolute;
}
@media only screen and (max-width: 767px) {
	.header-image-inner {
		height: 72px;
	}
	.header-day01 {
		right: -180px;
		background-size: 33vw;
		bottom: -143px;
	}
	.header-day02 {
		left: -19vw;
		background-size: 52vw;
		bottom: 100px;
		width: 52vw;
		height: 52vw;
	}
	.header-day03 {
		right: -17vw;
		background-size: 40vw;
		top: 32px;
		background-repeat: no-repeat;
		width: 40vw;
		height: 40vw;
	}
	.header-day04 {
		left: -17vw;
		background-size: 27vw;
		top: 32px;
		width: 27vw;
	}
	.main::before {
		width: 60vw;
		bottom: 36px;
		right: 0;
		left: 30vw;
		height: 60vw;
	}
}
.localNav {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.localNav li {
	position: relative;
	margin: 0 0.3em;
}
.localNav li::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 8px;
	right: -6px;
	width: 2px;
	height: 19px;
	background: #ffdc4c;
	border-radius: 8px;
}
.localNav li:last-child::after {
	display: none;
}
.localNav a {
	display: block;
	color: inherit;
	font-weight: bold;
	font-size: 16px;
	padding: 0.2em 1em;
	transition: all 0.5s;
	position: relative;
}
.localNav a::after {
	display: block;
	content: '';
	position: absolute;
	bottom: -5px;
	right: 50%;
	width: 0;
	height: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border: solid black;
	border-width: 0 2px 2px 0;
	padding: 3px;
	left: 50%;
}
.localNav a:hover {
	background-color: #ffdc4c;
	transform: scale(1.2);
	text-decoration: none;
	border-radius: 10px;
}
.localNav a:hover::after {
	bottom: -15px;
}
@media only screen and (max-width: 767px) {
	.o-scroll {
		overflow: scroll;
		padding: 20px 0 30px;
		overflow-x: auto;
		overflow-y: hidden;
		-ms-overflow-style: none; /* IE, Edge 対応 */
		scrollbar-width: none; /* Firefox 対応 */
	}
	.o-scroll::-webkit-scrollbar {
		/* Chrome, Safari 対応 */
		display: none;
	}
	.localNav {
		position: relative;
		z-index: 1;
		box-sizing: border-box;
		align-items: stretch;
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-start;
	}
	.localNav li {
		white-space: nowrap;
	}
	.localNav a {
		font-size: 20px;
	}
}
.main .main-inner.inview .copy,
.main .main-inner.inview .title,
.main .main-inner.inview .satisfied,
.main .main-inner.inview .main-btn {
	opacity: 0;
	transform: translateY(50px);
}
.main .main-inner.inview .logo {
	opacity: 0;
	transform: translateX(50px);
}
.main .main-inner.inviewFade .copy,
.main .main-inner.inviewFade .title,
.main .main-inner.inviewFade .satisfied,
.main .main-inner.inviewFade .main-btn {
	opacity: 1;
	transform: translateY(0);
	transition: 0.8s;
}
.main .main-inner.inviewFade .title {
	transition-delay: 0.2s;
}
.main .main-inner.inviewFade .main-btn {
	transition-delay: 0.6s;
}
.main .main-inner.inviewFade .logo {
	opacity: 1;
	transform: translateX(0);
	transition: 0.8s;
	transition-delay: 0.8s;
}
@media only screen and (max-width: 767px) {
	.main {
		/* margin-bottom: 4.53%; */
		min-height: 1px;
		background: url(/assets/images/support/kaigofukushi/main_bg_sp.jpg) center top no-repeat;
		background-size: 100%;
		height: 596px;
	}
	.main .main-inner {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
		padding-top: 14px;
	}
	.main .main-inner .logo {
		padding-top: 6.96%;
		right: 2.84%;
		width: 19.89%;
	}
	.main .main-inner .copy {
		/* padding-left: 2.27%; */
		width: 100%;
	}
	.main .main-inner .title {
		margin: 17px 0;
		/* padding-left: 2.27%; */
		width: 100%;
	}
	.main .main-inner .satisfied {
		margin-bottom: 8%;
		padding-left: 2.27%;
		width: 58.52%;
	}
	.main .main-inner .main-btn {
		margin-left: 0;
		width: 94%;
	}
	.mv-title {
		align-items: center;
		padding-right: 0;
		height: auto;
	}
	.mv-title .register {
		width: 100%;
	}
}

/* summary
---------------------------------------------------------------------------- */
.summary {
	margin: 0 auto;
	display: flex;
	max-width: 810px;
	position: relative;
	justify-content: flex-start;
	margin-top: 80px;
	background: #fff2c0;
	border-radius: 20px;
	align-items: center;
	height: 210px;
	padding: 0 20px;
}
.summary-image {
	width: 239px;
	margin: 24px;
}
.summary .text {
	width: 56%;
}
.summary .text h2 {
	margin-bottom: 10px;
	color: #2b2f2f;
	font-size: 26px;
	text-align: left;
}
.summary .text h2 span {
	font-size: 20px;
}
.summary .text p {
	line-height: 1.8;
	font-size: 14px;
}
@media only screen and (max-width: 767px) {
	.summary {
		margin-bottom: 1.87%;
		display: block;
		max-width: 86%;
		height: auto;
		text-align: center;
		margin-top: 30px;
	}
	.summary .text {
		margin: 0;
		padding: 0;
		width: auto;
	}
	.summary .text h2 {
		font-size: 4.27vw;
		text-align: center;
	}
	.summary .text p {
		font-size: 15px;
		text-align: left;
		padding: 11px 21px 24px;
		line-height: 2;
	}
	.summary .image {
		margin: 0 auto;
		width: 76.92%;
	}
}

/* point
---------------------------------------------------------------------------- */
#merit {
	padding: 23px 0 10px;
	text-align: center;
}
#merit h2 {
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.1em;
	margin: 44px 0;
}
#merit .wrap {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	max-width: 966px;
}
#merit .merit-item {
	border-radius: 10px;
	border: 11px solid #fff2c0;
	width: 31.26%; /* 302 */
	background-color: #fff;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
#merit .first {
	position: relative;
}
#merit .merit-item h2 {
	position: absolute;
	margin-bottom: 0;
	bottom: 49px;
	font-size: 30px;
	width: 100%;
}
#merit .merit-item h3 {
	font-size: 18px;
	font-weight: 600;
	padding: 17px 0 17px;
}
#merit .merit-item h3::before {
	content: 'Merit';
	position: absolute;
	font-size: 14px;
	letter-spacing: 1px;
	color: #1daed3;
	bottom: -7px;
	font-weight: 400;
	right: 0;
	left: 0;
}
#merit .merit-item h3 span {
	color: #00a4cd;
	font-weight: 600;
}
#merit .merit-item img {
	margin: 0 auto;
	width: 75.5%;
	position: relative;
	bottom: -3px;
}
#merit .merit-item p {
	line-height: 1.75;
	/* font-size: 16px; */
	text-align: left;
}
#merit .merit-item .second {
	padding: 10px 20px 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 292px;
}
#merit h2.inview {
	opacity: 0;
	transform: translateY(100px);
}
#merit h2.inviewFade {
	opacity: 1;
	transform: translateY(0);
	transition: 0.8s;
}
#merit .inview .merit-item {
	opacity: 0;
	transform: translateY(100px);
}
#merit .inviewFade .merit-item {
	opacity: 1;
	transform: translateY(0);
	transition: 0.8s;
}
#merit .inviewFade .merit-item:nth-child(1) {
	transition-delay: 0.1s;
}
#merit .inviewFade .merit-item:nth-child(2) {
	transition-delay: 0.3s;
}
#merit .inviewFade .merit-item:nth-child(3) {
	transition-delay: 0.5s;
}
#merit .register {
	width: 800px;
	background: 158px 14px / 483px no-repeat url(/assets/images/support/special/facilitytype/register_bg.png);
	margin: 0 auto;
}

@media only screen and (max-width: 767px) {
	#merit {
		display: block;
		margin: 0 auto;
		background-size: 100%;
	}

	#merit h2 {
		font-size: 29px;
		line-height: 1.4;
	}
	#merit .merit-item {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		flex-direction: column;
		padding: 4px 0 0;
		box-sizing: border-box;
		align-items: stretch;
		width: 100%;
		z-index: 1;
		margin-right: 30px;
	}
	#merit .merit-item:first-of-type {
		margin-left: 20px;
	}
	#merit .merit-item:last-child {
		margin-bottom: 0;
	}
	#merit .merit-item .first {
		width: 300px;
	}
	#merit .merit-item h2 {
		margin: 0;
		bottom: 61px;
	}
	#merit .merit-item h3 {
		margin: 0 auto 10px;
	}
	#merit .merit-item .image {
		padding-bottom: 0;
		width: auto;
	}
	#merit .merit-item p {
		padding-top: 7px;
		font-size: 15px;
	}
	#merit .register {
		width: 100%;
	}
}

/*---------------------------- joboffer ---------------------------*/

#job {
	position: relative;
	width: 100%;
	background-color: #ffdc4c;
	padding-bottom: 91px;
}
#job h2 {
	text-align: center;
}
#job .bg {
	height: 157px;
	border-bottom-right-radius: 2000px 300px;
	border-bottom-left-radius: 2000px 300px;
	background: white;
	text-align: center;
	margin-left: -200px;
	margin-right: -200px;
	padding-left: 200px;
	padding-right: 200px;
}
#job .bg-next {
	padding: 50px 0px 30px;
	background: white;
	text-align: center;
}
.triangle {
	position: relative;
	bottom: -8px;
}
.triangle:after,
#job::before {
	content: '';
	position: absolute;
}
.triangle:after {
	right: 50%;
	transform: translatex(50%);
	box-sizing: border-box;
	border-right: calc(50vw - 10px) solid white;
	border-left: calc(50vw - 10px) solid #fefefe;
	border-top: 84px solid transparent;
	z-index: 2;
	width: 100%;
	/* bottom: 0px; */
}
#job::before {
	bottom: 0;
	width: 831px;
	height: 189px;
	background-image: url(/assets/images/support/special/facilitytype/job_illu04.svg), url(/assets/images/support/special/facilitytype/job_illu03.svg);
	background-position: left bottom 10px, right bottom 10px;
	background-size: 150px;
	background-repeat: no-repeat, no-repeat;
	margin: 0 auto;
	left: 0;
	right: 0;
	overflow: inherit;
	z-index: 1;
}
#job .bg img {
	position: relative;
	bottom: -38px;
}
#job .content_ttl {
	position: relative;
	padding: 148px 0 48px;
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.1em;
	width: 800px;
	margin: 0 auto;
}
#job .content_ttl img {
	width: 40%;
}
#job .jobofferlist {
	margin-bottom: 40px;
}
#job .swiper-slide {
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
	justify-content: space-between;
	height: 248px;
}
#job .swiper-slide:last-child {
	margin-right: 0;
}
.job-wrap {
	display: flex;
	flex-direction: row;
}
.job-content,
.job-detail {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 0 20px;
}
.job-content {
	padding: 18px 0 0 18px;
	align-items: center;
}
.job-content .job-img {
	padding: 18px 0 18px 18px;
	width: 94px;
	height: 96px;
	overflow: hidden;
}
.job-detail h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
}
.job-img {
	border-radius: 16px;
}
.swiper-slide:first-of-type .job-img {
	background: center / cover no-repeat url(/assets/images/support/special/opening/img_foboffer_04.png);
}
.swiper-slide:nth-child(2) .job-img {
	background: 72% bottom / cover no-repeat url(/assets/images/support/special/opening/img_foboffer_02.png);
}
.swiper-slide:nth-child(3) .job-img {
	background: center / cover no-repeat url(/assets/images/support/special/opening/img_foboffer_01.png);
}
.swiper-slide:nth-child(4) .job-img {
	background: 20% bottom / cover no-repeat url(/assets/images/support/special/opening/img_foboffer_03.png);
}
.swiper-slide:nth-child(5) .job-img {
	background: 29% bottom / cover no-repeat url(/assets/images/support/special/opening/img_foboffer_05.png);
}
.swiper-slide:nth-child(6) .job-img {
	background: right/ cover no-repeat url(/assets/images/support/special/facilitytype/img_foboffer_07.png);
}
.swiper-slide .btn_job_entry a::before {
	content: '';
	position: absolute;
	width: 66px;
	height: 69px;
	bottom: 0px;
	z-index: 3;
	left: 44px;
}
.swiper-slide:nth-of-type(1) .btn_job_entry a::before,
.swiper-slide:nth-of-type(4) .btn_job_entry a::before {
	background: right/ cover no-repeat url(/assets/images/support/special/facilitytype/job_illu01.svg);
}
.swiper-slide:nth-of-type(2) .btn_job_entry a::before,
.swiper-slide:nth-of-type(5) .btn_job_entry a::before {
	background: right/ cover no-repeat url(/assets/images/support/special/facilitytype/job_illu02.svg);
}
.swiper-slide:nth-of-type(3) .btn_job_entry a::before,
.swiper-slide:nth-of-type(6) .btn_job_entry a::before {
	background: right/ cover no-repeat url(/assets/images/support/special/facilitytype/job_illu03.svg);
}
.job-tag {
	display: inline-block;
	margin: 10px 0;
	padding: 3px 16px;
	width: fit-content;
	background-color: #e5f8fa;
	color: #388e98;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	line-height: 1.3;
}
.salary {
	position: relative;
	padding-left: 25px;
	font-size: 18px;
	font-weight: bold;
}
.salary::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 23px;
	background: center / 17px no-repeat url(/r/img/icon_fee.png);
	top: 11px;
	left: 0;
}
.salary span {
	color: #e21c1c;
	font-size: 140%;
	padding-left: 4px;
}
#job .highlighter {
	background: linear-gradient(#fff0 50%, #fff0 60%, #9fe7ff 60%);
}

@media only screen and (max-width: 767px) {
	#job {
		background-size: 40%;
		background-position: right 10% bottom 5%;
		padding-bottom: 165px;
	}
	#job::before {
		width: 100%;
		background-size: 134px;
		background-position: 31% bottom, 68% bottom;
	}

	.salary::before {
		width: 24px;
		height: 27px;
		background-size: 18px;
		left: -2px;
		top: 11px;
	}

	#job .content_ttl {
		/* font-size: 4.27vw; */
		width: 100%;
	}

	#job .inner {
		overflow: hidden;
	}
	#job .swiper-slide {
		width: 80%;
		margin-right: 1%;
		height: auto;
		margin-bottom: 0;
	}
	#job .jobofferlist .swiper-container {
		/* padding: 0 0 50px 0; */
	}
	#job .jobofferlist .swiper-pagination-bullet-active {
		color: rgba(219, 36, 31, 0.9);
	}
	#job .jobofferlist .swiper-button-prev,
	#job .jobofferlist .swiper-button-next {
		background-size: 65px 65px;
		width: 65px;
		height: 65px;
	}
	#job .jobofferlist .swiper-button-prev {
		background-image: url(/assets/images/support/special/opening/img_prev.png);
	}
	#job .jobofferlist .swiper-button-next {
		background-image: url(/assets/images/support/special/opening/img_next.png);
	}
	#job .swiper-slide h3 {
		font-size: 18px;
	}
	.job-detail .salary {
		font-size: 20px;
	}
	#job .swiper-slide .detail-txt {
		font-size: 15px;
		line-height: 1.4;
		padding-top: 4px;
	}
	.triangle:after {
		top: 103px;
		border-right: calc(51vw - 10px) solid #edeef0;
		border-left: calc(51vw - 10px) solid #edeef0;
		border-top: 54px solid transparent;
	}
}
/*---------------------------- service ---------------------------*/
#service {
	position: relative;
	margin: 60px auto 0;
	text-align: center;
	width: 100%;
	padding-bottom: 200px;
}
#service::before {
	content: '';
	position: absolute;
	height: 138px;
	bottom: -1px;
	background: center / contain no-repeat url(/assets/images/support/special/facilitytype/service_illu_pc.png);
	width: 846px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#service h2 {
	margin-bottom: 20px;
}
#service img,
#flow h2 img {
	width: 285px;
	position: relative;
	bottom: 11px;
}
#service .table {
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	margin: 49px 0;
}
#service .table .ttl {
	width: 160px;
	padding: 95px 0 16px 16px;
	background: #edeef0;
	height: 784px;
}
#service .table .mynv,
#service .table .advrt {
	width: 323px;
}
#service .table .mynv {
	border: 16px solid #e97d44;
	background: #e97d44;
}
#service .table .mynv li.list-ttl {
	white-space: nowrap;
	height: 78px;
	color: white;
	background: #e97d44;
	font-size: 21px;
	bottom: 33px;
	position: relative;
	width: 323px;
	left: -16px;
	padding-top: 30px;
	display: block;
}
#service .list-ttl span {
	background: #051a2b;
	font-weight: bold;
	font-size: 107%;
	padding: 2px 10px 2px 10px;
	border-radius: 8px;
}
#service .table .advrt {
	padding: 17px 16px;
	background: #edeef0;
	height: 784px;
}
#service .table .advrt li.list-ttl {
	background: #ddd;
	height: 71px;
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	padding-top: 13px;
	text-align: center;
	margin-bottom: 7px;
	position: relative;
	bottom: 7px;
}
#service .table .advrt li.list-ttl span {
	display: block;
	font-size: 14px;
}
#service .table .bb,
#service .table .bb2 {
	height: 98px;
	margin-bottom: 16px;
	padding: 10px;
}
#service .table .ttl li {
	font-size: 17px;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	background: #dddddd;
	width: 100%;
	margin-bottom: 16px;
	height: 98px;
}
#service .table .mynv .bb,
#service .table .mynv .bb + li,
#service .table .advrt .bb,
#service .table .advrt .bb + li {
	font-size: 14px;
}
#service .table li {
	margin: 0 auto;
}
#service .table ul > li {
	background: white;
	line-height: 1.4;
	padding-bottom: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#service .table ul li.sp {
	display: none;
}
#service .best {
	width: 40px;
	height: 40px;
	content: url(/assets/images/support/special/facilitytype/best.svg);
}
#service .so-so {
	width: 40px;
	height: 40px;
	content: url(/assets/images/support/special/facilitytype/so-so.svg);
}
#service .bad {
	width: 40px;
	height: 40px;
	content: url(/assets/images/support/special/facilitytype/bad.svg);
}
#service .cant {
	width: 40px;
	height: 40px;
	content: url(/assets/images/support/special/facilitytype/cant.svg);
}
#service .register {
	margin-top: 30px;
}
@media only screen and (max-width: 767px) {
	#service {
		background: #edeef0;
		padding-top: 50px;
		margin-top: 0;
		padding-bottom: 130px;
	}
	#service .table .ttl {
		display: none;
	}
	#service::before {
		background: center bottom / contain no-repeat url(/assets/images/support/special/facilitytype/service_illu_sp.png);
		width: 100%;
		left: 0;
	}
	#service .table {
		width: 100%;
	}
	#service .table .mynv,
	#service .table .advrt {
		width: 50%;
	}
	#service .table .mynv li.list-ttl {
		width: 100%;
		height: auto;
		bottom: 0;
		left: auto;
		padding: 10px;
	}
	#service .table .sp {
		background: #33333385;
		border-radius: 30px;
		margin-bottom: 7px;
		color: white;
		padding-top: 2px;
		font-weight: bold;
		width: 100%;
	}
	#service .desc {
		text-align: left;
		padding: 0 16px;
	}
	#service .table ul li.sp,
	#service .table .mynv .bb + li.sp {
		display: block;
		font-size: 2.6vw;
	}
}
/*---------------------------- voice ---------------------------*/
#voice {
	position: relative;
	background: center 40% / cover no-repeat url('/assets/images/support/special/facilitytype/voice_bg.jpg');
	backdrop-filter: sepia(90%);
	z-index: 0;
}
#voice::before,
#info .contact::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -5px;
	right: -5px;
	background: #183d57a3;
	z-index: -1;
}
#voice h2 {
	padding-top: 152px;
	color: white;
}
#voice .user_voice_wrap {
	background: #fff;
}
#voice .inner {
	padding-bottom: 40px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#voice .content_ttl h2 {
	margin-bottom: 2em;
	padding-top: 1em;
	color: #333;
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.1em;
}
#voice .pc_wrap {
	width: 960px;
	padding: 10px 50px;
}
#voice .pc_wrap ul {
	position: relative;
	padding-left: 70px;
}
#voice .swiper-container {
	overflow: hidden;
}
#voice .voice-swiper {
	overflow: inherit;
}
#voice .swiper-slide {
	background: white;
	height: 360px;
	border-radius: 8px;
	padding: 18px;
	margin: 105px 0 88px;
}
#voice .swiper-button-prev:after,
#voice.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	position: absolute;
	filter: invert(1);
}
#voice .swiper-button-prev:after,
#voice.swiper-rtl .swiper-button-next:after {
	left: -63px;
	bottom: -29px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	right: -63px;
	bottom: -29px;
}
.item {
	background-color: #fcfaf6;
	border: none;
	position: relative;
	margin-top: 50px;
}
.main_menu_voice {
	width: 100%;
	padding: 44px 0 8px;
}
.main_menu_voice .ttl_wrap {
	width: 100%;
	text-align: center;
}
.main_menu_voice .img_wrap {
	position: absolute;
	top: -50px;
	left: 50%;
	right: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	padding: 0;
	background: white;
	border-radius: 300px;
	border: 4px orange solid;
}
#voice .pc_wrap ul::before,
#voice .pc_wrap ul::after {
	position: absolute;
	top: 0;
	z-index: 2;
	content: '';
	width: 15%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
}
#voice .pc_wrap ul::before {
	left: 0;
	background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
}
#voice .pc_wrap ul::after {
	right: 0;
}
.voice_ttl {
	font-weight: bold;
	line-height: 1.3;
}
.voice_dtl {
	color: #00b6f1;
}
.average-score {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-right: 30px;
}
.item__star {
	position: relative;
	width: 5em;
	height: 1em;
	font-size: 17px;
}
.item__star span {
	position: absolute;
	margin: 0 auto;
	left: 93px;
	bottom: -14px;
	font-size: 20px;
	font-weight: 500;
}
.item__star-front {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	color: #ff9900;
	height: 25px;
}
.front01 {
	width: 100%;
}
.front02 {
	width: 92%;
}
.front03 {
	width: 89%;
}
.front04 {
	width: 87%;
}
.item__star-back,
#voice .marker {
	color: #ff9900;
}
#voice .marker {
	font-weight: bold;
}
@media only screen and (max-width: 767px) {
	#voice h2 {
		padding-top: 105px;
	}
	#voice .inner {
		width: 100%;
	}
	#voice .swiper-slide {
		margin: 74px 0 18px;
	}
}
/*---------------------------- flow ---------------------------*/
#flow {
	margin-top: 2px;
	position: relative;
}
#flow .inner .content_ttl h2 {
	margin-top: 50px;
	margin-bottom: 4em;
	padding-top: 1em;
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.1em;
}
#flow .step-list {
	width: 1000px;
	padding: 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto 80px;
}
#flow .step-list li {
	letter-spacing: 0.03em;
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-left: 39px;
	margin-bottom: 50px;
	padding-bottom: 30px;
	background: #fff;
	position: relative;
	min-height: 280px;
	height: 313px;
}
#flow .step-list li:nth-child(1),
#flow .step-list li:nth-child(4) {
	margin-left: 0;
}
.step-list li .number {
	position: absolute;
	top: 0;
	left: 50%;
	width: 77px;
	height: 77px;
	margin-top: -38px;
	margin-left: -38px;
	color: #fff;
	border-radius: 77px;
	text-align: center;
	vertical-align: middle;
	padding: 18px;
	line-height: 1;
	box-sizing: border-box;
	background: #5ac9e5;
}
.step-list li .number .large {
	font-size: 150%;
	display: block;
	margin-top: 3px;
}
.step-list li::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	border: 0px;
	border-top: solid 2px #e87f17;
	border-right: solid 2px #e87f17;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: -25px;
	top: 50%;
}
.step-list li:nth-child(3)::after,
.step-list li:nth-child(6)::after {
	display: none;
}
#flow .step-list li .flow_sbttl {
	color: #fb8e22;
	width: 100%;
}
.step-list li h3 {
	color: #e87f17;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
	height: 65px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.3;
	padding-top: 11px;
}
.step-list li h3 span {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.step-list li p {
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.05em;
	padding: 0 16px;
	color: #555;
	text-align: left;
}
@media only screen and (max-width: 767px) {
	#flow .step-list {
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding-top: 59px;
		margin-bottom: 0;
	}
	#flow .inner .content_ttl h2 {
		margin-bottom: 0;
		margin-top: 0;
		padding-top: 60px;
	}
	#flow::after {
		background-image: url(/assets/images/support/special/opening/bg_wave-bl_sp.png);
		background-size: contain;
		background-repeat: no-repeat;
		top: -10px;
	}
	#flow {
		margin-top: 0;
		background: #d7f1ff;
	}
	#flow .pc_wrap {
		width: 100%;
		margin-bottom: 10%;
	}
	.step-list li {
		height: auto;
		border-radius: 10px;
	}
	.step-list li img {
		width: 40%;
		border-radius: 10px 0 10px 0;
		margin-right: 10px;
		padding-right: 0;
	}
	.step-list li .number {
		background: #5ac9e5;
	}
	.step-list::after {
		background-color: #5ac9e5;
		left: 50.3%;
	}
	#flow .step-list .number {
		font-size: 10px;
		width: 64px;
		height: 64px;
	}
	.step-list .wrap {
		display: flex;
		align-content: center;
		justify-content: flex-start;
		align-items: center;
	}
	.step-list li p {
		padding-top: 10px;
	}
	.step-list li::after {
		border-left: 3px solid #5ac9e5;
		transform: rotate(359deg);
		border-top: none;
		border-right: none;
		right: 0;
		left: 48%;
		bottom: -18px;
		top: auto;
		height: 18px;
	}
	.follow_btn .btn_sp a {
		padding: 5%;
	}
	.follow_btn .main_txt {
		width: 75%;
		text-align: center;
		font-size: 5vw;
	}
	.follow_btn .sub_txt {
		width: 16%;
		padding: 1% 2%;
		font-size: 4vw;
	}
	#flow .step-list li {
		height: auto;
		min-height: 100%;
		padding-bottom: 10px;
		position: relative;
		margin-left: 0;
		width: 90%;
	}
	#flow .step-list li .flow_sbttl {
		display: inline-block;
		width: 56%;
		height: auto;
	}
	.step-list li h3 {
		display: block;
		margin: 0;
		text-align: center;
	}
	.step-list li:nth-child(3)::after {
		display: block;
	}
}
/*---------------------------- info ---------------------------*/

#info {
	background: #f5f5f5;
}

#info .contact {
	position: relative;
	background: center / cover no-repeat url(/assets/images/support/special/facilitytype/info_bg.png);
	backdrop-filter: sepia(90%);
	color: white;
	z-index: 0;
	text-align: center;
	padding: 50px 0;
}
#info .contact h2 {
	padding-bottom: 10px;
}
#info .wrap {
	justify-content: space-between;
	align-items: center;
	margin: 30px auto 0;
}
#info .web,
#info .tel {
	position: relative;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#info .web a {
	padding: 18px 32px;
	background: #df7b18;
	border-radius: 300px;
	margin-top: 19px;
	font-size: 17px;
	color: white;
	font-weight: 600;
}
#info .tel a {
	font-size: 48px;
	font-weight: 600;
	color: white;
}
#info .tel::before {
	content: '';
	border-left: 0.5px solid #ffffff91;
	position: absolute;
	left: 0;
	height: 100%;
}

#info .other,
footer {
	background: #f5f5f5;
}
#info .wrap {
	display: flex;
	width: 1000px;
}
#info .other .box {
	width: 32%;
	background: white;
	padding: 8px 20px;
	border-radius: 8px;
	height: 172px;
	margin-bottom: 29px;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#info .other .ttl {
	display: flex;
	align-items: center;
}
#info .other .ttl img {
	padding-right: 10px;
	width: 62px;
}
@media only screen and (max-width: 767px) {
	#info .contact .wrap {
		width: 100%;
		flex-direction: column-reverse;
	}
	#info .other .wrap {
		width: 100%;
		flex-direction: column;
	}
	#info .other .box {
		width: 90%;
		margin-bottom: 0;
	}
	#info .web,
	#info .tel {
		width: 80%;
	}
	#info .web {
		margin-top: 65px;
	}
	#info .tel::before {
		display: none;
	}
	#info .web::before {
		position: absolute;
		content: '';
		left: 0;
		height: 100%;
		width: 100%;
		bottom: 30px;
		border-top: 0.5px solid #ffffff91;
	}
	#info .contact {
		background: center / cover no-repeat url(/assets/images/support/special/facilitytype/info_bg_sp.png);
	}
}

footer .inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	width: 1027px;
	justify-content: space-around;
}
footer img {
	width: 196px;
	position: relative;
	bottom: 11px;
}
footer .txt_inner {
	width: 54%;
}
footer .footer_link {
	padding-bottom: 4px;
}
footer .footer_link a {
	color: #666 !important;
	text-decoration: none !important;
	position: relative;
	top: 0;
	left: 0;
}
footer .footer_link a:first-child {
	margin-right: 25px;
}
footer .footer_link a:before {
	content: '';
	width: 11px;
	height: 11px;
	background: url(/lp/images/029/new_window.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 2px;
	left: -15px;
}
@media only screen and (max-width: 767px) {
	footer {
		padding-bottom: 110px;
	}
	footer .inner {
		display: grid;
		width: 100%;
		align-items: end;
		justify-content: center;
		font-size: 12px;
		padding: 32px;
		grid-row-gap: 14px;
	}
	footer .txt_inner {
		grid-column-start: 1;
		grid-column-end: 4;
		width: 100%;
	}
	footer img {
		grid-column-start: 1;
		grid-row-start: 2;
	}
	footer .footer_right {
		grid-column-start: 3;
		grid-row-end: 2;
		grid-row-start: 2;
		grid-column-end: 4;
	}
}

@media print, screen and (min-width: 375px) {
	.follow_btn--ningenkankei .main_txt {
		font-size: 22px;
	}
	.follow_btn--kosodate .main_txt {
		font-size: 20px;
	}
	.follow_btn--ningenkankei .main_txt span {
		font-size: 20px;
	}
	.follow_btn--kosodate .main_txt span {
		font-size: 18px;
	}
}

@media print, screen and (min-width: 768px) {
	.btn-orange:hover {
		background-color: #ff717e;
	}

	.l-wrapper {
		padding-top: 0;
		background-color: none;
	}

	.hero {
		text-align: center;
		/*padding-top: 0;*/
	}
	.hero--kyuryo {
		background-color: #fff5ec;
	}
	.hero--ningenkankei {
		background-color: #cee9ed;
	}
	.hero--kosodate {
		background-color: #fffae6;
	}

	.about {
		padding-bottom: 53px;
	}
	.about__title {
		text-align: center;
		padding: 13px 0;
		margin-bottom: 33px;
	}
	.about__title:after {
		border-width: 20px;
		bottom: -46px;
	}
	.about__text {
		width: 389px;
		margin-bottom: 28px;
	}
	.about__card {
		padding: 21px 20px;
		width: 860px;
		margin: 0 auto;
	}
	.about__card:after {
		line-height: 48px;
		/*font-size: 20px;*/
		font-size: 34px;
		width: 48px;
		left: 24px;
		top: 26px;
	}
	.about__card:not(:last-of-type) {
		margin-bottom: 20px;
	}
	.about__card div:first-of-type {
		min-width: 217px;
		margin-right: 31px;
	}
	.about__sub-title {
		font-size: 34px;
		margin-bottom: 10px;
	}
	.about__sub-text {
		line-height: 1.55;
		font-size: 22px;
		letter-spacing: 0;
	}

	.follow_btn .btn_sp a {
		padding: 22px 0 22px 14px;
		width: 476px;
		transition: box-shadow 0.2s, transform 0.2s;
	}
	.follow_btn .btn_sp a:after {
		background-size: 30px;
		width: 30px;
		height: 30px;
		right: 10px;
	}
	.follow_btn .btn_sp a:hover {
		background-image: linear-gradient(#e6606b, #e6606b);
		box-shadow: none;
		transform: translateY(4px);
	}
	.follow_btn--ningenkankei .btn_sp a {
		padding: 5px 0 5px 14px;
	}
	.follow_btn--kosodate .btn_sp a {
		padding: 5px 0 5px 14px;
	}
	.follow_btn .sub_txt {
		width: 72px;
		margin-right: 10px;
	}
	.follow_btn:hover .sub_txt {
		color: #e6606b;
	}
	.follow_btn .main_txt {
		font-size: 27px;
	}
	.follow_btn--ningenkankei .main_txt {
		font-size: 32px;
	}
	.follow_btn--kosodate .main_txt {
		font-size: 29px;
	}
	.follow_btn .main_txt span {
		font-size: 24px;
	}
	.follow_btn--ningenkankei .main_txt span {
		font-size: 30px;
	}
	.follow_btn--kosodate .main_txt span {
		font-size: 27px;
	}

	#info .telBox .info1 {
		color: #615140;
	}
	#info .telBox .info1 .tel .telTtl {
		background-color: #4ac0f0;
	}
	#info .telBox .info1 li:nth-child(2) {
		padding: 0 40px;
	}

	footer {
		background-color: #f5f5f5;
		padding-bottom: 158px;
		font-size: 12px;
		line-height: 1.3;
	}
	.opening-staff footer .inner {
		padding-top: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.opening-staff .pc {
		display: none;
	}
	.opening-staff .sp {
		display: block;
	}
	.opening-staff .inner {
		width: 100%;
		margin: 0 auto;
		padding: 10% 0;
	}
	.content_ttl h2 img {
		width: 70%;
	}
	/*---------------------------- mv ---------------------------*/
	.opening-staff .opening-staff_mvarea {
		background-image: url(/assets/images/support/special/opening/mv_sp.png);
		background-size: contain;
		height: 64vh;
	}
	.opening-staff_mvbox {
		width: 100%;
	}
	.opening-staff .opening-staff_mvarea .mv-ttltxt {
		width: 63%;
		padding-top: 31%;
	}
	.opening-staff_mvbox::after {
		background-size: 19vw;
		bottom: -260px;
		right: -60px;
	}
	.opening-staff_mvbox::before {
		content: none;
	}
	/*---------------------------- merit ---------------------------*/
	.opening-staff_merit ul {
		background-image: url(/assets/images/support/special/opening/img_merit-bg_sp.png);
		background-size: 90%;
	}
	.opening-staff_merit ul .img-merit2 img {
		width: 78%;
	}
	.opening-staff_merit ul li:last-child {
		padding-right: 0;
	}
	#voice .main_menu_voice .ttl_wrap {
		padding-right: 0;
	}
	#voice .main_menu_voice .ttl_wrap .voice_ttl {
		font-size: 4vw;
	}
	#voice .main_menu_voice .ttl_wrap .voice_dtl {
		font-size: 3.5vw;
	}
	#voice .sub_menu_voice li {
		background-color: #fcfaf6;
		border-bottom: none;
	}
	.accordion_icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
	#voice .pc_wrap ul::before,
	#voice .pc_wrap ul::after {
		content: none;
	}
	/*---------------------------- flow ---------------------------*/

	.breadcrumb_wrap {
		padding: 5px;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		overflow: auto;
		white-space: nowrap;
	}
	.breadcrumb_wrap .breadcrumb,
	.u-hidden-u-md {
		color: #444;
		font-size: 1.1rem;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 2% 2% 0;
	}
	/* .l-header_logo .u-hidden-u-md {
		display: none;
	} */
}

@media only screen and (min-width: 768px) {
	.jobofferlist .swiper-wrapper {
		flex-wrap: wrap;
		display: flex;
		align-items: stretch;
		flex-direction: row;
		width: 890px;
		justify-content: space-between;
		margin: 0 auto;
	}
	.jobofferlist .swiper-slide {
		width: 48%;
	}
	.jobofferlist .swiper-button-prev,
	.jobofferlist .swiper-button-next,
	.jobofferlist .swiper-pagination {
		display: none;
	}
}

/* ---------------------------
 共通 / block
--------------------------- */
@media only screen and (max-width: 767px) {
	.swiper-button-prev:after,
	.swiper-rtl .swiper-button-next:after,
	.swiper-button-next:after,
	.swiper-rtl .swiper-button-prev:after {
		display: none;
	}
}
/* page-top */
#page-top {
	position: fixed;
	z-index: 10000;
	right: 10px;
	bottom: 10px;
	width: 60px;
	height: 60px;
}
#page-top a {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 60px;
	height: 60px;
	text-decoration: none;
	text-indent: -9999px;
	border-radius: 50%;
	background: #051a2b;
	filter: invert(1);
}
#page-top a:before {
	position: absolute;
	top: 42%;
	left: 36%;
	width: 18px;
	height: 18px;
	content: '';
	border-left: 2px solid #fefffd;
	border-top: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media only screen and (max-width: 767px) {
	#page-top {
		bottom: 98px;
	}
}

/* floating */
.floating {
	position: fixed;
	z-index: 1000;
	bottom: 62px;
	left: 0;
	width: 100%;
	padding: 0 15px;
	text-align: center;
}
.floating .btn-wrap {
	width: 100%;
	max-width: 558px;
	margin: 0 auto;
}
.floating .btn-entry::after {
	width: 22px;
	height: 14px;
	background-size: 1.2rem;
}
@media only screen and (max-width: 767px) {
	.floating {
		bottom: 20px;
	}
	.floating .btn-wrap {
		max-width: 450px;
	}
}
@media only screen and (max-width: 374px) {
	.floating .btn-entry::after {
		display: none;
	}
}

/* dayservice */
#dayservice .localNav li::after {
	border: solid 1px #ffdc4c;
}
#dayservice #job .content_ttl::before,
#dayservice #voice .content_ttl::before {
	content: '';
	position: absolute;
	display: block;
	top: 96px;
	right: 0;
	width: 174px;
	height: 37px;
	background: url(/assets/images/support/special/facilitytype/dayservice_ttl.svg) no-repeat;
	left: 316px;
}
#dayservice #voice .content_ttl::before {
	width: 211px;
	height: 40px;
	background: url(/assets/images/support/special/facilitytype/dayservice_ttl_invert.svg) no-repeat;
	top: 86px;
	left: 395px;
}

@media only screen and (max-width: 767px) {
	#dayservice #job .content_ttl::before {
		width: 100%;
		background-position: center;
		left: 0;
	}
	#dayservice #voice .content_ttl::before {
		left: 26%;
		top: 48px;
		right: 50%;
		width: 100%;
		margin: 0 auto 100px;
	}
}
